// colors
$yma-color-red: rgb(215, 61, 61);
$yma-color-orange: rgb(224, 104, 20);
$yma-color-yellow: rgb(211, 161, 7);
$yma-color-green: rgb(31, 177, 85);
$yma-color-teal: rgb(18, 166, 149);
$yma-color-cyan: rgb(5, 164, 191);
$yma-color-blue: rgb(53, 117, 221);
$yma-color-indigo: rgb(89, 92, 217);
$yma-color-violet: rgb(125, 83, 221);
$yma-color-pink: rgb(212, 65, 138);
$yma-color-lead: rgb(63, 63, 78);
$yma-color-gray: rgb(96, 103, 115);
$yma-color-silver: rgb(191, 194, 199);
$yma-color-black: black;
$yma-color-white: white;
$yma-color-transparent: transparent;

// borders
$yma-border: 1px;
$yma-border-radius: 0.25rem;
$yma-border-spacing: 0.25rem;

// outlines
$yma-outline-offset: 1px;
$yma-outline-width: 1px;
$yma-decoration-thickness: 1px;

// box model
$yma-dimension: 0.25rem;
$yma-height: 0.25rem;
$yma-width: 0.25rem;
$yma-padding: 0.25rem;
$yma-margin: 0.25rem;
$yma-spacing: 0.25rem;

// fx
$yma-backdrop-blur: 4px;
$yma-blur: 4px;
$yma-box-shadow-lg: 1px 3px 5px 1px rgb(0, 0, 0, 0.1);
$yma-box-shadow-md: 1px 3px 5px -1px rgb(0, 0, 0, 0.1);
$yma-box-shadow-sm: 1px 3px 5px -2px rgb(0, 0, 0, 0.1);
$yma-box-shadow-xl: 1px 3px 5px 2px rgb(0, 0, 0, 0.1);
$yma-box-shadow-xs: 1px 3px 5px -3px rgb(0, 0, 0, 0.1);
$yma-grayscale: 10%;

// flexbox
$yma-flex-basis: 0.25rem;

// grid
$yma-gap: 0.25rem;
$yma-column-gap: 0.25rem;
$yma-row-gap: 0.25rem;

// layout
$yma-direction: 0.25rem;

// typography
$yma-font-size-xs: 0.75rem;
$yma-font-size-sm: 0.875rem;
$yma-font-size-base: 1rem;
$yma-font-size-lg: 1.125rem;
$yma-font-size-xl: 1.25rem;
$yma-font-size-2xl: 1.5rem;
$yma-font-size-3xl: 1.875rem;
$yma-font-size-4xl: 2.25rem;
$yma-font-size-5xl: 3rem;
$yma-font-size-6xl: 3.75rem;
$yma-font-size-7xl: 4.5rem;
$yma-font-size-8xl: 6rem;
$yma-font-size-9xl: 8rem;

$yma-font-weight: 500;

$yma-font-charter: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
$yma-font-mono: "Nimbus Mono PS", "Courier New", monospace;
$yma-font-system: system-ui, sans-serif;

// transform
$yma-transform-translate: 0.25rem;
