# dependencies
node_modules/
/.pnp
.pnp.*

# testing
coverage/
*.tgz

# production
build/
dist/

# misc
.DS_Store
*.pem
.npmrc

# debug
npm-debug.log*
pnpm-debug.log*

# env files
.env*

# typescript
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
