@use "sass:math";
@use "sass:map";
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins/" as mix;
@use "../utilities/maps/" as maps;

$ycss-border-utils: (
  "border-collapse": (
    "prefix": "bc",
    "properties": (
      "border-collapse",
    ),
    "values": (
      "c": collapse,
      "s": separate,
    ),
  ),

  "border-radius": (
    "prefix": "rad",
    "properties": (
      "border-radius",
    ),
    "values": (
      "0": vars.$ycss-border-radius * 0,
      "1": vars.$ycss-border-radius,
      "2": vars.$ycss-border-radius * 2,
      "3": vars.$ycss-border-radius * 3,
      "4": vars.$ycss-border-radius * 4,
      "5": vars.$ycss-border-radius * 5,
      "6": vars.$ycss-border-radius * 6,
      "7": vars.$ycss-border-radius * 7,
      "8": vars.$ycss-border-radius * 8,
      "full": 100%,
      "half": 50%,
    ),
  ),

  "border-bottom-radius": (
    "prefix": "rad-b",
    "properties": (
      "border-bottom-left-radius",
      "border-bottom-right-radius",
    ),
    "values": (
      "0": vars.$ycss-border-radius * 0,
      "1": vars.$ycss-border-radius,
      "2": vars.$ycss-border-radius * 2,
      "3": vars.$ycss-border-radius * 3,
      "4": vars.$ycss-border-radius * 4,
      "5": vars.$ycss-border-radius * 5,
      "6": vars.$ycss-border-radius * 6,
      "7": vars.$ycss-border-radius * 7,
      "8": vars.$ycss-border-radius * 8,
    ),
  ),

  "border-left-radius": (
    "prefix": "rad-l",
    "properties": (
      "border-bottom-left-radius",
      "border-top-left-radius",
    ),
    "values": (
      "0": vars.$ycss-border-radius * 0,
      "1": vars.$ycss-border-radius,
      "2": vars.$ycss-border-radius * 2,
      "3": vars.$ycss-border-radius * 3,
      "4": vars.$ycss-border-radius * 4,
      "5": vars.$ycss-border-radius * 5,
      "6": vars.$ycss-border-radius * 6,
      "7": vars.$ycss-border-radius * 7,
      "8": vars.$ycss-border-radius * 8,
    ),
  ),

  "border-right-radius": (
    "prefix": "rad-r",
    "properties": (
      "border-bottom-right-radius",
      "border-top-right-radius",
    ),
    "values": (
      "0": vars.$ycss-border-radius * 0,
      "1": vars.$ycss-border-radius,
      "2": vars.$ycss-border-radius * 2,
      "3": vars.$ycss-border-radius * 3,
      "4": vars.$ycss-border-radius * 4,
      "5": vars.$ycss-border-radius * 5,
      "6": vars.$ycss-border-radius * 6,
      "7": vars.$ycss-border-radius * 7,
      "8": vars.$ycss-border-radius * 8,
    ),
  ),

  "border-bottom-left-radius": (
    "prefix": "rad-bl",
    "properties": (
      "border-bottom-left-radius",
    ),
    "values": (
      "0": vars.$ycss-border-radius * 0,
      "1": vars.$ycss-border-radius,
      "2": vars.$ycss-border-radius * 2,
      "3": vars.$ycss-border-radius * 3,
      "4": vars.$ycss-border-radius * 4,
      "5": vars.$ycss-border-radius * 5,
      "6": vars.$ycss-border-radius * 6,
      "7": vars.$ycss-border-radius * 7,
      "8": vars.$ycss-border-radius * 8,
    ),
  ),

  "border-bottom-right-radius": (
    "prefix": "rad-br",
    "properties": (
      "border-bottom-right-radius",
    ),
    "values": (
      "0": vars.$ycss-border-radius * 0,
      "1": vars.$ycss-border-radius,
      "2": vars.$ycss-border-radius * 2,
      "3": vars.$ycss-border-radius * 3,
      "4": vars.$ycss-border-radius * 4,
      "5": vars.$ycss-border-radius * 5,
      "6": vars.$ycss-border-radius * 6,
      "7": vars.$ycss-border-radius * 7,
      "8": vars.$ycss-border-radius * 8,
    ),
  ),

  "border-top-radius": (
    "prefix": "rad-t",
    "properties": (
      "border-top-left-radius",
      "border-top-right-radius",
    ),
    "values": (
      "0": vars.$ycss-border-radius * 0,
      "1": vars.$ycss-border-radius,
      "2": vars.$ycss-border-radius * 2,
      "3": vars.$ycss-border-radius * 3,
      "4": vars.$ycss-border-radius * 4,
      "5": vars.$ycss-border-radius * 5,
      "6": vars.$ycss-border-radius * 6,
      "7": vars.$ycss-border-radius * 7,
      "8": vars.$ycss-border-radius * 8,
    ),
  ),

  "border-top-left-radius": (
    "prefix": "rad-tl",
    "properties": (
      "border-top-left-radius",
    ),
    "values": (
      "0": vars.$ycss-border-radius * 0,
      "1": vars.$ycss-border-radius,
      "2": vars.$ycss-border-radius * 2,
      "3": vars.$ycss-border-radius * 3,
      "4": vars.$ycss-border-radius * 4,
      "5": vars.$ycss-border-radius * 5,
      "6": vars.$ycss-border-radius * 6,
      "7": vars.$ycss-border-radius * 7,
      "8": vars.$ycss-border-radius * 8,
    ),
  ),

  "border-top-right-radius": (
    "prefix": "rad-tr",
    "properties": (
      "border-top-right-radius",
    ),
    "values": (
      "0": vars.$ycss-border-radius * 0,
      "1": vars.$ycss-border-radius,
      "2": vars.$ycss-border-radius * 2,
      "3": vars.$ycss-border-radius * 3,
      "4": vars.$ycss-border-radius * 4,
      "5": vars.$ycss-border-radius * 5,
      "6": vars.$ycss-border-radius * 6,
      "7": vars.$ycss-border-radius * 7,
      "8": vars.$ycss-border-radius * 8,
    ),
  ),

  "border-spacing": (
    "prefix": "bs",
    "properties": (
      "border-spacing",
    ),
    "values": (
      "0": vars.$ycss-border-spacing * 0,
      "1": vars.$ycss-border-spacing,
      "2": vars.$ycss-border-spacing * 2,
      "3": vars.$ycss-border-spacing * 3,
      "4": vars.$ycss-border-spacing * 4,
      "5": vars.$ycss-border-spacing * 5,
      "6": vars.$ycss-border-spacing * 6,
      "7": vars.$ycss-border-spacing * 7,
      "8": vars.$ycss-border-spacing * 8,
    ),
  ),

  "border-style": (
    "prefix": "b",
    "properties": (
      "border-style",
    ),
    "values": (
      "none": none,
      "d": dashed,
      "s": solid,
    ),
  ),

  "border-width": (
    "prefix": "b",
    "properties": (
      "border-width",
    ),
    "values": (
      "0": vars.$ycss-border * 0,
      "1": vars.$ycss-border,
      "2": vars.$ycss-border * 2,
      "3": vars.$ycss-border * 3,
      "4": vars.$ycss-border * 4,
      "5": vars.$ycss-border * 5,
      "6": vars.$ycss-border * 6,
      "7": vars.$ycss-border * 7,
      "8": vars.$ycss-border * 8,
    ),
  ),

  "border-bottom-width": (
    "prefix": "bb",
    "properties": (
      "border-bottom-width",
    ),
    "values": (
      "0": vars.$ycss-border * 0,
      "1": vars.$ycss-border,
      "2": vars.$ycss-border * 2,
      "3": vars.$ycss-border * 3,
      "4": vars.$ycss-border * 4,
      "5": vars.$ycss-border * 5,
      "6": vars.$ycss-border * 6,
      "7": vars.$ycss-border * 7,
      "8": vars.$ycss-border * 8,
    ),
  ),

  "border-left-width": (
    "prefix": "bl",
    "properties": (
      "border-left-width",
    ),
    "values": (
      "0": vars.$ycss-border * 0,
      "1": vars.$ycss-border,
      "2": vars.$ycss-border * 2,
      "3": vars.$ycss-border * 3,
      "4": vars.$ycss-border * 4,
      "5": vars.$ycss-border * 5,
      "6": vars.$ycss-border * 6,
      "7": vars.$ycss-border * 7,
      "8": vars.$ycss-border * 8,
    ),
  ),

  "border-right-width": (
    "prefix": "br",
    "properties": (
      "border-right-width",
    ),
    "values": (
      "0": vars.$ycss-border * 0,
      "1": vars.$ycss-border,
      "2": vars.$ycss-border * 2,
      "3": vars.$ycss-border * 3,
      "4": vars.$ycss-border * 4,
      "5": vars.$ycss-border * 5,
      "6": vars.$ycss-border * 6,
      "7": vars.$ycss-border * 7,
      "8": vars.$ycss-border * 8,
    ),
  ),

  "border-top-width": (
    "prefix": "bt",
    "properties": (
      "border-top-width",
    ),
    "values": (
      "0": vars.$ycss-border * 0,
      "1": vars.$ycss-border,
      "2": vars.$ycss-border * 2,
      "3": vars.$ycss-border * 3,
      "4": vars.$ycss-border * 4,
      "5": vars.$ycss-border * 5,
      "6": vars.$ycss-border * 6,
      "7": vars.$ycss-border * 7,
      "8": vars.$ycss-border * 8,
    ),
  ),
);

@each $properties, $map in $ycss-border-utils {
  $prefix: map.get($map, "prefix");
  $properties: map.get($map, "properties");

  @include mix.create-utilities($map, $prefix, $properties);
}
