@use "sass:math";
@use "sass:map";
@use "sass:meta";
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins/" as mix;
@use "../utilities/maps/" as maps;

$ycss-box-model-utils: (
  "box-sizing": (
    "prefix": "bs",
    "properties": (
      "box-sizing",
    ),
    "values": (
      "bb": border-box,
      "cb": content-box,
    ),
  ),

  "dimension": (
    "prefix": "d",
    "properties": (
      "height",
      "width",
    ),
    "values": maps.$ycss-dimension-map,
  ),

  "max-dimension": (
    "prefix": "max-d",
    "properties": (
      "max-height",
      "max-width",
    ),
    "values": maps.$ycss-dimension-map,
  ),

  "min-dimension": (
    "prefix": "min-d",
    "properties": (
      "min-height",
      "min-width",
    ),
    "values": maps.$ycss-dimension-map,
  ),

  "height": (
    "prefix": "h",
    "properties": (
      "height",
    ),
    "values": maps.$ycss-height-map,
  ),

  "max-height": (
    "prefix": "max-h",
    "properties": (
      "max-height",
    ),
    "values": maps.$ycss-height-map,
  ),

  "min-height": (
    "prefix": "min-h",
    "properties": (
      "min-height",
    ),
    "values": maps.$ycss-height-map,
  ),

  "margin": (
    "prefix": "m",
    "properties": (
      "margin",
    ),
    "values": maps.$ycss-margin-map,
  ),

  "margin-block-end": (
    "prefix": "mbe",
    "properties": (
      "margin-block-end",
    ),
    "values": maps.$ycss-margin-map,
  ),

  "margin-block-start": (
    "prefix": "mbs",
    "properties": (
      "margin-block-start",
    ),
    "values": maps.$ycss-margin-map,
  ),

  "margin-bottom": (
    "prefix": "mb",
    "properties": (
      "margin-bottom",
    ),
    "values": maps.$ycss-margin-map,
  ),

  "margin-inline-end": (
    "prefix": "mie",
    "properties": (
      "margin-inline-end",
    ),
    "values": maps.$ycss-margin-map,
  ),

  "margin-inline-start": (
    "prefix": "mis",
    "properties": (
      "margin-inline-start",
    ),
    "values": maps.$ycss-margin-map,
  ),

  "margin-left": (
    "prefix": "ml",
    "properties": (
      "margin-left",
    ),
    "values": maps.$ycss-margin-map,
  ),

  "margin-right": (
    "prefix": "mr",
    "properties": (
      "margin-right",
    ),
    "values": maps.$ycss-margin-map,
  ),

  "margin-top": (
    "prefix": "mt",
    "properties": (
      "margin-top",
    ),
    "values": maps.$ycss-margin-map,
  ),

  "margin-x": (
    "prefix": "mx",
    "properties": (
      "margin-left",
      "margin-right",
    ),
    "values": maps.$ycss-margin-map,
  ),

  "margin-y": (
    "prefix": "my",
    "properties": (
      "margin-bottom",
      "margin-top",
    ),
    "values": maps.$ycss-margin-map,
  ),

  "padding": (
    "prefix": "p",
    "properties": (
      "padding",
    ),
    "values": maps.$ycss-padding-map,
  ),

  "padding-block-end": (
    "prefix": "pbe",
    "properties": (
      "padding-block-end",
    ),
    "values": maps.$ycss-padding-map,
  ),

  "padding-block-start": (
    "prefix": "pbs",
    "properties": (
      "padding-block-start",
    ),
    "values": maps.$ycss-padding-map,
  ),

  "padding-bottom": (
    "prefix": "pb",
    "properties": (
      "padding-bottom",
    ),
    "values": maps.$ycss-padding-map,
  ),

  "padding-inline-end": (
    "prefix": "pie",
    "properties": (
      "padding-inline-end",
    ),
    "values": maps.$ycss-padding-map,
  ),

  "padding-inline-start": (
    "prefix": "pis",
    "properties": (
      "padding-inline-start",
    ),
    "values": maps.$ycss-padding-map,
  ),

  "padding-left": (
    "prefix": "pl",
    "properties": (
      "padding-left",
    ),
    "values": maps.$ycss-padding-map,
  ),

  "padding-right": (
    "prefix": "pr",
    "properties": (
      "padding-right",
    ),
    "values": maps.$ycss-padding-map,
  ),

  "padding-top": (
    "prefix": "pt",
    "properties": (
      "padding-top",
    ),
    "values": maps.$ycss-padding-map,
  ),

  "padding-x": (
    "prefix": "px",
    "properties": (
      "padding-left",
      "padding-right",
    ),
    "values": maps.$ycss-padding-map,
  ),

  "padding-y": (
    "prefix": "py",
    "properties": (
      "padding-bottom",
      "padding-top",
    ),
    "values": maps.$ycss-padding-map,
  ),

  "width": (
    "prefix": "w",
    "properties": (
      "width",
    ),
    "values": maps.$ycss-width-map,
  ),

  "max-width": (
    "prefix": "max-w",
    "properties": (
      "max-width",
    ),
    "values": maps.$ycss-width-map,
  ),

  "min-width": (
    "prefix": "min-w",
    "properties": (
      "min-width",
    ),
    "values": maps.$ycss-width-map,
  ),
);

@each $name, $map in $ycss-box-model-utils {
  $prefix: map.get($map, "prefix");
  $properties: map.get($map, "properties");
  $values: map.get($map, "values");

  @if meta.type-of($values) == "map" and map.get($values, "custom") {
    @include mix.create-spacing-utilities(
      $prefix,
      map.get($values, "map"),
      $properties
    );
  } @else {
    @include mix.create-utilities($map, $prefix, $properties);
  }
}
