@use "sass:color";
@use "sass:map";
@use "../abstracts/mixins" as mix;
@use "../abstracts/functions" as fun;
@use "../abstracts/_theme" as theme;

$yma-color-utils: (
  "accent-color": (
    "prefix": "ac",
    "property": "accent-color",
    "slug": "accent-color",
  ),

  "background-color": (
    "prefix": "bg",
    "property": "background-color",
    "slug": "background-color",
  ),

  "border-color": (
    "prefix": "bc",
    "property": "border-color",
    "slug": "border-color",
  ),

  "border-bottom-color": (
    "prefix": "bc-b",
    "property": "border-bottom-color",
    "slug": "border/#border-bottom-color",
  ),

  "border-left-color": (
    "prefix": "bc-l",
    "property": "border-left-color",
    "slug": "border/#border-left-color",
  ),

  "border-right-color": (
    "prefix": "bc-r",
    "property": "border-right-color",
    "slug": "border/#border-right-color",
  ),

  "border-top-color": (
    "prefix": "bc-t",
    "property": "border-top-color",
    "slug": "border/#border-top-color",
  ),

  "caret-color": (
    "prefix": "cc",
    "property": "caret-color",
    "slug": "caret-color",
  ),

  "color": (
    "prefix": "tc",
    "property": "color",
    "slug": "color",
  ),

  "fill": (
    "prefix": "f",
    "property": "fill",
    "slug": "fill",
  ),

  "outline-color": (
    "prefix": "oc",
    "property": "outline-color",
    "slug": "outline-color",
  ),

  "stroke": (
    "prefix": "s",
    "property": "stroke",
    "slug": "stroke",
  ),

  "text-decoration-color": (
    "prefix": "tdc",
    "property": "text-decoration-color",
    "slug": "text-decoration-color",
  ),
);

@each $utility, $map in $yma-color-utils {
  $property: map.get($map, "property");
  $prefix: map.get($map, "prefix");

  @each $k, $v in theme.$yma-theme {
    @include mix.mod-color-scaling($property, $prefix, $k, $v);

    @if (fun.ignore-neutral($v, theme.$yma-theme)) {
      @include mix.shade-scaling($property, $prefix, $k, $v, 14%);
    }
  }
}
