@use "sass:math";
@use "sass:map";
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins/" as mix;

$yma-effect-utils: (
  "backdrop-blur": (
    "prefix": "bf-b",
    "properties": (
      "backdrop-filter",
    ),
    "values": (
      "none": blur(vars.$yma-backdrop-blur * 0),
      "xs": blur(vars.$yma-backdrop-blur),
      "sm": blur(vars.$yma-backdrop-blur * 2),
      "md": blur(vars.$yma-backdrop-blur * 4),
      "lg": blur(vars.$yma-backdrop-blur * 8),
      "xl": blur(vars.$yma-backdrop-blur * 16),
    ),
  ),

  "blur": (
    "prefix": "f-b",
    "properties": (
      "filter",
    ),
    "values": (
      "none": blur(vars.$yma-blur * 0),
      "xs": blur(vars.$yma-blur),
      "sm": blur(vars.$yma-blur * 2),
      "md": blur(vars.$yma-blur * 4),
      "lg": blur(vars.$yma-blur * 8),
      "xl": blur(vars.$yma-blur * 16),
    ),
  ),

  "box-shadow": (
    "prefix": "bs",
    "properties": (
      "box-shadow",
    ),
    "values": (
      "none": none,
      "xs": vars.$yma-box-shadow-xs,
      "sm": vars.$yma-box-shadow-sm,
      "md": vars.$yma-box-shadow-md,
      "lg": vars.$yma-box-shadow-lg,
      "xl": vars.$yma-box-shadow-xl,
    ),
  ),

  "grayscale": (
    "prefix": "f-g",
    "properties": (
      "filter",
    ),
    "values": (
      "0": grayscale(vars.$yma-grayscale * 0),
      "10": grayscale(vars.$yma-grayscale),
      "20": grayscale(vars.$yma-grayscale * 2),
      "30": grayscale(vars.$yma-grayscale * 3),
      "40": grayscale(vars.$yma-grayscale * 4),
      "50": grayscale(vars.$yma-grayscale * 5),
      "60": grayscale(vars.$yma-grayscale * 6),
      "70": grayscale(vars.$yma-grayscale * 7),
      "80": grayscale(vars.$yma-grayscale * 8),
      "90": grayscale(vars.$yma-grayscale * 9),
      "100": grayscale(vars.$yma-grayscale * 10),
    ),
  ),

  "opacity": (
    "prefix": "o",
    "properties": (
      "opacity",
    ),
    "values": (
      "0": 0,
      "10": 0.1,
      "20": 0.2,
      "30": 0.3,
      "40": 0.4,
      "50": 0.5,
      "60": 0.6,
      "70": 0.7,
      "80": 0.8,
      "90": 0.9,
      "100": 1,
    ),
  ),
);

@each $name, $map in $yma-effect-utils {
  $prefix: map.get($map, "prefix");
  $properties: map.get($map, "properties");

  @include mix.create-utilities($map, $prefix, $properties);
}
