@use "sass:math";
@use "sass:map";
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins/" as mix;
@use "../utilities/maps/" as maps;

$yma-flexbox-utils: (
  "align-content": (
    "prefix": "ac",
    "properties": (
      "align-content",
    ),
    "values": (
      "b": baseline,
      "c": center,
      "fe": flex-end,
      "fs": flex-start,
      "n": normal,
      "st": stretch,
      "sa": space-around,
      "sb": space-between,
      "se": space-evenly,
    ),
  ),

  "align-items": (
    "prefix": "ai",
    "properties": (
      "align-items",
    ),
    "values": (
      "b": baseline,
      "c": center,
      "fe": flex-end,
      "fs": flex-start,
      "st": stretch,
    ),
  ),

  "align-self": (
    "prefix": "as",
    "properties": (
      "align-self",
    ),
    "values": (
      "auto": auto,
      "b": baseline,
      "c": center,
      "fe": flex-end,
      "fs": flex-start,
      "st": stretch,
    ),
  ),

  "flex-basis": (
    "prefix": "fb",
    "properties": (
      "flex-basis",
    ),
    "values": maps.$yma-flex-basis-map,
  ),

  "flex-direction": (
    "prefix": "fd",
    "properties": (
      "flex-direction",
    ),
    "values": (
      "c": column,
      "cr": column-reverse,
      "r": row,
      "rr": row-reverse,
    ),
  ),

  "flex-grow": (
    "prefix": "fg",
    "properties": (
      "flex-grow",
    ),
    "values": (
      "0": 0,
      "1": 1,
      "2": 2,
      "3": 3,
      "4": 4,
      "5": 5,
      "6": 6,
      "7": 7,
      "8": 8,
    ),
  ),

  "flex-shrink": (
    "prefix": "fs",
    "properties": (
      "flex-shrink",
    ),
    "values": (
      "0": 0,
      "1": 1,
      "2": 2,
      "3": 3,
      "4": 4,
      "5": 5,
      "6": 6,
      "7": 7,
      "8": 8,
    ),
  ),

  "flex-wrap": (
    "prefix": "fw",
    "properties": (
      "flex-wrap",
    ),
    "values": (
      "nw": nowrap,
      "w": wrap,
      "wr": wrap-reverse,
    ),
  ),

  "flex": (
    "prefix": "f",
    "properties": (
      "flex",
    ),
    "values": (
      "1": 1 1 0%,
      "2": 2 2 0%,
      "3": 3 3 0%,
      "4": 4 4 0%,
      "5": 5 5 0%,
      "6": 6 6 0%,
      "auto": 1 1 auto,
      "none": none,
    ),
  ),

  "justify-content": (
    "prefix": "jc",
    "properties": (
      "justify-content",
    ),
    "values": (
      "c": center,
      "fe": flex-end,
      "fs": flex-start,
      "n": normal,
      "st": stretch,
      "sa": space-around,
      "sb": space-between,
      "se": space-evenly,
    ),
  ),

  "justify-items": (
    "prefix": "ji",
    "properties": (
      "justify-items",
    ),
    "values": (
      "c": center,
      "e": end,
      "s": start,
      "st": stretch,
    ),
  ),

  "justify-self": (
    "prefix": "js",
    "properties": (
      "justify-self",
    ),
    "values": (
      "auto": auto,
      "c": center,
      "e": end,
      "s": start,
      "st": stretch,
    ),
  ),

  "order": (
    "prefix": "or",
    "properties": (
      "order",
    ),
    "values": (
      "l": -9999,
      "0": 0,
      "1": 1,
      "2": 2,
      "3": 3,
      "4": 4,
      "5": 5,
      "6": 6,
      "7": 7,
      "8": 8,
      "9": 9,
      "10": 1,
      "f": 9999,
    ),
  ),
);

@each $name, $map in $yma-flexbox-utils {
  $prefix: map.get($map, "prefix");
  $properties: map.get($map, "properties");

  @include mix.create-utilities($map, $prefix, $properties);
}
