@use "sass:math";
@use "sass:map";
@use "sass:meta";
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins/" as mix;
@use "../utilities/maps/" as maps;

$yma-grid-utils: (
  "column-gap": (
    "prefix": "cg",
    "properties": (
      "column-gap",
    ),
    "values": maps.$yma-gap-map,
  ),

  "gap": (
    "prefix": "g",
    "properties": (
      "gap",
    ),
    "values": maps.$yma-gap-map,
  ),

  "grid-auto-columns": (
    "prefix": "gac",
    "properties": (
      "grid-auto-columns",
    ),
    "values": (
      "auto": auto,
      "max": max-content,
      "min": min-content,
    ),
  ),

  "grid-auto-flow": (
    "prefix": "gaf",
    "properties": (
      "grid-auto-flow",
    ),
    "values": (
      "c": column,
      "cd": column dense,
      "d": dense,
      "r": row,
      "rd": row dense,
    ),
  ),

  "grid-auto-rows": (
    "prefix": "gar",
    "properties": (
      "grid-auto-rows",
    ),
    "values": (
      "auto": auto,
      "max": max-content,
      "min": min-content,
    ),
  ),

  "grid-column": (
    "prefix": "gc-s",
    "properties": (
      "grid-column",
    ),
    "values": (
      "1": span 1 / span 1,
      "2": span 2 / span 2,
      "3": span 3 / span 3,
      "4": span 4 / span 4,
      "5": span 5 / span 5,
      "6": span 6 / span 6,
      "7": span 7 / span 7,
      "8": span 8 / span 8,
      "9": span 9 / span 9,
      "10": span 10 / span 10,
      "11": span 11 / span 11,
      "12": span 12 / span 12,
      "13": span 13 / span 13,
      "14": span 14 / span 14,
      "15": span 15 / span 15,
      "16": span 16 / span 16,
    ),
  ),

  "grid-column-end": (
    "prefix": "gce",
    "properties": (
      "grid-column-end",
    ),
    "values": (
      "1": 1,
      "2": 2,
      "3": 3,
      "4": 4,
      "5": 5,
      "6": 6,
      "7": 7,
      "8": 8,
      "9": 9,
      "10": 10,
      "11": 11,
      "12": 12,
      "13": 13,
      "14": 14,
      "15": 15,
      "16": 16,
    ),
  ),

  "grid-column-start": (
    "prefix": "gcs",
    "properties": (
      "grid-column-start",
    ),
    "values": (
      "1": 1,
      "2": 2,
      "3": 3,
      "4": 4,
      "5": 5,
      "6": 6,
      "7": 7,
      "8": 8,
      "9": 9,
      "10": 10,
      "11": 11,
      "12": 12,
      "13": 13,
      "14": 14,
      "15": 15,
      "16": 16,
    ),
  ),

  "grid-row": (
    "prefix": "gr-s",
    "properties": (
      "grid-row",
    ),
    "values": (
      "1": span 1 / span 1,
      "2": span 2 / span 2,
      "3": span 3 / span 3,
      "4": span 4 / span 4,
      "5": span 5 / span 5,
      "6": span 6 / span 6,
      "7": span 7 / span 7,
      "8": span 8 / span 8,
      "9": span 9 / span 9,
      "10": span 10 / span 10,
      "11": span 11 / span 11,
      "12": span 12 / span 12,
      "13": span 13 / span 13,
      "14": span 14 / span 14,
      "15": span 15 / span 15,
      "16": span 16 / span 16,
    ),
  ),

  "grid-row-end": (
    "prefix": "gre",
    "properties": (
      "grid-row-end",
    ),
    "values": (
      "1": 1,
      "2": 2,
      "3": 3,
      "4": 4,
      "5": 5,
      "6": 6,
      "7": 7,
      "8": 8,
      "9": 9,
      "10": 10,
      "11": 11,
      "12": 12,
      "13": 13,
      "14": 14,
      "15": 15,
      "16": 16,
    ),
  ),

  "grid-row-start": (
    "prefix": "grs",
    "properties": (
      "grid-row-start",
    ),
    "values": (
      "1": 1,
      "2": 2,
      "3": 3,
      "4": 4,
      "5": 5,
      "6": 6,
      "7": 7,
      "8": 8,
      "9": 9,
      "10": 10,
      "11": 11,
      "12": 12,
      "13": 13,
      "14": 14,
      "15": 15,
      "16": 16,
    ),
  ),

  "grid-template-columns": (
    "prefix": "gtc",
    "properties": (
      "grid-template-columns",
    ),
    "values": (
      "1": repeat(1, minmax(0, 1fr)),
      "2": repeat(2, minmax(0, 1fr)),
      "3": repeat(3, minmax(0, 1fr)),
      "4": repeat(4, minmax(0, 1fr)),
      "5": repeat(5, minmax(0, 1fr)),
      "6": repeat(6, minmax(0, 1fr)),
      "7": repeat(7, minmax(0, 1fr)),
      "8": repeat(8, minmax(0, 1fr)),
      "9": repeat(9, minmax(0, 1fr)),
      "10": repeat(10, minmax(0, 1fr)),
      "11": repeat(11, minmax(0, 1fr)),
      "12": repeat(12, minmax(0, 1fr)),
      "13": repeat(13, minmax(0, 1fr)),
      "14": repeat(14, minmax(0, 1fr)),
      "15": repeat(15, minmax(0, 1fr)),
      "16": repeat(16, minmax(0, 1fr)),
    ),
  ),

  "grid-template-rows": (
    "prefix": "gtr",
    "properties": (
      "grid-template-rows",
    ),
    "values": (
      "1": repeat(1, minmax(0, 1fr)),
      "2": repeat(2, minmax(0, 1fr)),
      "3": repeat(3, minmax(0, 1fr)),
      "4": repeat(4, minmax(0, 1fr)),
      "5": repeat(5, minmax(0, 1fr)),
      "6": repeat(6, minmax(0, 1fr)),
      "7": repeat(7, minmax(0, 1fr)),
      "8": repeat(8, minmax(0, 1fr)),
      "9": repeat(9, minmax(0, 1fr)),
      "10": repeat(10, minmax(0, 1fr)),
      "11": repeat(11, minmax(0, 1fr)),
      "12": repeat(12, minmax(0, 1fr)),
      "13": repeat(13, minmax(0, 1fr)),
      "14": repeat(14, minmax(0, 1fr)),
      "15": repeat(15, minmax(0, 1fr)),
      "16": repeat(16, minmax(0, 1fr)),
    ),
  ),

  "row-gap": (
    "prefix": "rg",
    "properties": (
      "row-gap",
    ),
    "values": maps.$yma-gap-map,
  ),
);

@each $name, $map in $yma-grid-utils {
  $prefix: map.get($map, "prefix");
  $properties: map.get($map, "properties");

  @include mix.create-utilities($map, $prefix, $properties);
}
