@use "sass:math";
@use "sass:map";
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins/" as mix;
@use "../utilities/maps/" as maps;

$ycss-interactivity-utils: (
  "appearance": (
    "prefix": "a",
    "properties": (
      "appearance",
    ),
    "values": (
      "auto": auto,
      "none": none,
    ),
  ),

  "cursor": (
    "prefix": "c",
    "properties": (
      "cursor",
    ),
    "values": (
      "auto": auto,
      "ch": crosshair,
      "cr": col-resize,
      "d": default,
      "h": help,
      "m": move,
      "na": not-allowed,
      "ner": ne-resize,
      "neswr": nesw-resize,
      "none": none,
      "nr": n-resize,
      "nwr": nw-resize,
      "nwser": nwse-resize,
      "p": pointer,
      "pr": progress,
      "rs": row-resize,
      "ser": se-resize,
      "sr": s-resize,
      "swr": sw-resize,
      "t": text,
      "w": wait,
      "wr": w-resize,
      "zi": zoom-in,
      "zo": zoom-out,
    ),
  ),

  "field-sizing": (
    "prefix": "fs",
    "properties": (
      "field-sizing",
    ),
    "values": (
      "f": fixed,
      "c": content,
    ),
  ),

  "pointer-events": (
    "prefix": "pe",
    "properties": (
      "pointer-events",
    ),
    "values": (
      "auto": auto,
      "none": none,
    ),
  ),

  "resize": (
    "prefix": "r",
    "properties": (
      "resize",
    ),
    "values": (
      "b": both,
      "h": horizontal,
      "none": none,
      "v": vertical,
    ),
  ),

  "scroll-behavior": (
    "prefix": "sb",
    "properties": (
      "scroll-behavior",
    ),
    "values": (
      "auto": auto,
      "s": smooth,
    ),
  ),

  "scroll-margin": (
    "prefix": "sm",
    "properties": (
      "scroll-margin",
    ),
    "values": maps.$ycss-margin-map,
  ),

  "scroll-margin-bottom": (
    "prefix": "smb",
    "properties": (
      "scroll-margin-bottom",
    ),
    "values": maps.$ycss-margin-map,
  ),

  "scroll-margin-inline-start": (
    "prefix": "smis",
    "properties": (
      "scroll-margin-inline-start",
    ),
    "values": maps.$ycss-margin-map,
  ),

  "scroll-margin-left": (
    "prefix": "sml",
    "properties": (
      "scroll-margin-left",
    ),
    "values": maps.$ycss-margin-map,
  ),

  "scroll-margin-right": (
    "prefix": "smr",
    "properties": (
      "scroll-margin-right",
    ),
    "values": maps.$ycss-margin-map,
  ),

  "scroll-margin-top": (
    "prefix": "smt",
    "properties": (
      "scroll-margin-top",
    ),
    "values": maps.$ycss-margin-map,
  ),

  "scroll-margin-inline-end": (
    "prefix": "smie",
    "properties": (
      "scroll-margin-inline-end",
    ),
    "values": maps.$ycss-margin-map,
  ),

  "scroll-margin-x": (
    "prefix": "smx",
    "properties": (
      "scroll-margin-left",
      "scroll-margin-right",
    ),
    "values": maps.$ycss-margin-map,
  ),

  "scroll-margin-y": (
    "prefix": "smy",
    "properties": (
      "scroll-margin-bottom",
      "scroll-margin-top",
    ),
    "values": maps.$ycss-margin-map,
  ),

  "scroll-padding": (
    "prefix": "sp",
    "properties": (
      "scroll-padding",
    ),
    "values": maps.$ycss-padding-map,
  ),

  "scroll-padding-bottom": (
    "prefix": "spb",
    "properties": (
      "scroll-padding-bottom",
    ),
    "values": maps.$ycss-padding-map,
  ),

  "scroll-padding-inline-start": (
    "prefix": "spis",
    "properties": (
      "scroll-padding-inline-start",
    ),
    "values": maps.$ycss-padding-map,
  ),

  "scroll-padding-left": (
    "prefix": "spl",
    "properties": (
      "scroll-padding-left",
    ),
    "values": maps.$ycss-padding-map,
  ),

  "scroll-padding-right": (
    "prefix": "spr",
    "properties": (
      "scroll-padding-right",
    ),
    "values": maps.$ycss-padding-map,
  ),

  "scroll-padding-top": (
    "prefix": "spt",
    "properties": (
      "scroll-padding-top",
    ),
    "values": maps.$ycss-padding-map,
  ),

  "scroll-padding-inline-end": (
    "prefix": "spie",
    "properties": (
      "scroll-padding-inline-end",
    ),
    "values": maps.$ycss-padding-map,
  ),

  "scroll-padding-x": (
    "prefix": "spx",
    "properties": (
      "scroll-padding-left",
      "scroll-padding-right",
    ),
    "values": maps.$ycss-padding-map,
  ),

  "scroll-padding-y": (
    "prefix": "spy",
    "properties": (
      "scroll-padding-bottom",
      "scroll-padding-top",
    ),
    "values": maps.$ycss-padding-map,
  ),

  "scroll-snap-align": (
    "prefix": "ssa",
    "properties": (
      "scroll-snap-align",
    ),
    "values": (
      "c": center,
      "e": end,
      "none": none,
      "s": start,
    ),
  ),

  "scroll-snap-stop": (
    "prefix": "sss",
    "properties": (
      "scroll-snap-stop",
    ),
    "values": (
      "a": always,
      "n": normal,
    ),
  ),

  "scroll-snap-type": (
    "prefix": "sst",
    "properties": (
      "scroll-snap-type",
    ),
    "values": (
      "b-m": both mandatory,
      "none": none,
      "x-m": x mandatory,
      "x-p": x proximity,
      "y-m": y mandatory,
      "y-p": y proximity,
    ),
  ),

  "user-select": (
    "prefix": "us",
    "properties": (
      "user-select",
    ),
    "values": (
      "a": all,
      "auto": auto,
      "none": none,
      "t": text,
    ),
  ),
);

@each $name, $map in $ycss-interactivity-utils {
  $prefix: map.get($map, "prefix");
  $properties: map.get($map, "properties");

  @include mix.create-utilities($map, $prefix, $properties);
}
