@use "sass:math";
@use "sass:map";
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins/" as mix;

$yma-outline-utils: (
  "outline-offset": (
    "prefix": "oo",
    "properties": (
      "outline-offset",
    ),
    "values": (
      "0": vars.$yma-outline-offset * 0,
      "1": vars.$yma-outline-offset,
      "2": vars.$yma-outline-offset * 2,
      "3": vars.$yma-outline-offset * 3,
      "4": vars.$yma-outline-offset * 4,
    ),
  ),

  "outline-style": (
    "prefix": "os",
    "properties": (
      "outline-style",
    ),
    "values": (
      "none": none,
      "d": dashed,
      "s": solid,
    ),
  ),

  "outline-width": (
    "prefix": "ow",
    "properties": (
      "outline-width",
    ),
    "values": (
      "0": vars.$yma-outline-width * 0,
      "1": vars.$yma-outline-width,
      "2": vars.$yma-outline-width * 2,
      "3": vars.$yma-outline-width * 3,
      "4": vars.$yma-outline-width * 4,
    ),
  ),
);

@each $properties, $map in $yma-outline-utils {
  $prefix: map.get($map, "prefix");
  $properties: map.get($map, "properties");

  @include mix.create-utilities($map, $prefix, $properties);
}
