@use "sass:math";
@use "sass:map";
@use "sass:string";
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins/" as mix;

$yma-positioning-utils: (
  "aspect-ratio": (
    "prefix": "ar",
    "properties": (
      "aspect-ratio",
    ),
    "values": (
      "auto": auto,
      1\/1: string.unquote("1/1"),
      1\/2: string.unquote("1/2"),
      16\/9: string.unquote("16/9"),
      2\/1: string.unquote("2/1"),
      2\/3: string.unquote("2/3"),
      3\/2: string.unquote("3/2"),
      9\/16: string.unquote("9/16"),
    ),
  ),

  "clear": (
    "prefix": "cl",
    "properties": (
      "clear",
    ),
    "values": (
      "b": both,
      "ie": inline-end,
      "is": inline-start,
      "l": left,
      "none": none,
      "r": right,
    ),
  ),

  "columns": (
    "prefix": "c",
    "properties": (
      "columns",
    ),
    "values": (
      "1": 1,
      "2": 2,
      "3": 3,
      "4": 4,
      "5": 5,
      "6": 6,
      "7": 7,
      "8": 8,
      "9": 9,
      "10": 10,
      "11": 11,
      "12": 12,
      "13": 13,
      "14": 14,
      "15": 15,
      "16": 16,
    ),
  ),

  "bottom": (
    "prefix": "bo",
    "properties": (
      "bottom",
    ),
    "values": (
      "0": vars.$yma-bottom-left-top-right * 0,
      "1": vars.$yma-bottom-left-top-right,
      "2": vars.$yma-bottom-left-top-right * 2,
      "3": vars.$yma-bottom-left-top-right * 3,
      "4": vars.$yma-bottom-left-top-right * 4,
      "5": vars.$yma-bottom-left-top-right * 5,
      "6": vars.$yma-bottom-left-top-right * 6,
      "7": vars.$yma-bottom-left-top-right * 7,
      "8": vars.$yma-bottom-left-top-right * 8,
      "9": vars.$yma-bottom-left-top-right * 9,
      "10": vars.$yma-bottom-left-top-right * 10,
      "11": vars.$yma-bottom-left-top-right * 11,
      "12": vars.$yma-bottom-left-top-right * 12,
      "13": vars.$yma-bottom-left-top-right * 13,
      "14": vars.$yma-bottom-left-top-right * 14,
      "15": vars.$yma-bottom-left-top-right * 15,
      "16": vars.$yma-bottom-left-top-right * 16,
      "full": 100%,
      "half": 50%,
    ),
  ),

  "inset": (
    "prefix": "i",
    "properties": (
      "inset",
    ),
    "values": (
      "0": vars.$yma-bottom-left-top-right * 0,
      "1": vars.$yma-bottom-left-top-right,
      "2": vars.$yma-bottom-left-top-right * 2,
      "3": vars.$yma-bottom-left-top-right * 3,
      "4": vars.$yma-bottom-left-top-right * 4,
      "5": vars.$yma-bottom-left-top-right * 5,
      "6": vars.$yma-bottom-left-top-right * 6,
      "7": vars.$yma-bottom-left-top-right * 7,
      "8": vars.$yma-bottom-left-top-right * 8,
      "9": vars.$yma-bottom-left-top-right * 9,
      "10": vars.$yma-bottom-left-top-right * 10,
      "11": vars.$yma-bottom-left-top-right * 11,
      "12": vars.$yma-bottom-left-top-right * 12,
      "13": vars.$yma-bottom-left-top-right * 13,
      "14": vars.$yma-bottom-left-top-right * 14,
      "15": vars.$yma-bottom-left-top-right * 15,
      "16": vars.$yma-bottom-left-top-right * 16,
      "full": 100%,
      "half": 50%,
    ),
  ),

  "inset-x": (
    "prefix": "ix",
    "properties": (
      "left",
      "right",
    ),
    "values": (
      "0": vars.$yma-bottom-left-top-right * 0,
      "1": vars.$yma-bottom-left-top-right,
      "2": vars.$yma-bottom-left-top-right * 2,
      "3": vars.$yma-bottom-left-top-right * 3,
      "4": vars.$yma-bottom-left-top-right * 4,
      "5": vars.$yma-bottom-left-top-right * 5,
      "6": vars.$yma-bottom-left-top-right * 6,
      "7": vars.$yma-bottom-left-top-right * 7,
      "8": vars.$yma-bottom-left-top-right * 8,
      "9": vars.$yma-bottom-left-top-right * 9,
      "10": vars.$yma-bottom-left-top-right * 10,
      "11": vars.$yma-bottom-left-top-right * 11,
      "12": vars.$yma-bottom-left-top-right * 12,
      "13": vars.$yma-bottom-left-top-right * 13,
      "14": vars.$yma-bottom-left-top-right * 14,
      "15": vars.$yma-bottom-left-top-right * 15,
      "16": vars.$yma-bottom-left-top-right * 16,
      "full": 100%,
      "half": 50%,
    ),
  ),

  "inset-y": (
    "prefix": "iy",
    "properties": (
      "top",
      "bottom",
    ),
    "values": (
      "0": vars.$yma-bottom-left-top-right * 0,
      "1": vars.$yma-bottom-left-top-right,
      "2": vars.$yma-bottom-left-top-right * 2,
      "3": vars.$yma-bottom-left-top-right * 3,
      "4": vars.$yma-bottom-left-top-right * 4,
      "5": vars.$yma-bottom-left-top-right * 5,
      "6": vars.$yma-bottom-left-top-right * 6,
      "7": vars.$yma-bottom-left-top-right * 7,
      "8": vars.$yma-bottom-left-top-right * 8,
      "9": vars.$yma-bottom-left-top-right * 9,
      "10": vars.$yma-bottom-left-top-right * 10,
      "11": vars.$yma-bottom-left-top-right * 11,
      "12": vars.$yma-bottom-left-top-right * 12,
      "13": vars.$yma-bottom-left-top-right * 13,
      "14": vars.$yma-bottom-left-top-right * 14,
      "15": vars.$yma-bottom-left-top-right * 15,
      "16": vars.$yma-bottom-left-top-right * 16,
      "full": 100%,
      "half": 50%,
    ),
  ),

  "isolation": (
    "prefix": "i",
    "properties": (
      "isolation",
    ),
    "values": (
      "auto": auto,
      "i": isolate,
    ),
  ),

  "left": (
    "prefix": "l",
    "properties": (
      "left",
    ),
    "values": (
      "0": vars.$yma-bottom-left-top-right * 0,
      "1": vars.$yma-bottom-left-top-right,
      "2": vars.$yma-bottom-left-top-right * 2,
      "3": vars.$yma-bottom-left-top-right * 3,
      "4": vars.$yma-bottom-left-top-right * 4,
      "5": vars.$yma-bottom-left-top-right * 5,
      "6": vars.$yma-bottom-left-top-right * 6,
      "7": vars.$yma-bottom-left-top-right * 7,
      "8": vars.$yma-bottom-left-top-right * 8,
      "9": vars.$yma-bottom-left-top-right * 9,
      "10": vars.$yma-bottom-left-top-right * 10,
      "11": vars.$yma-bottom-left-top-right * 11,
      "12": vars.$yma-bottom-left-top-right * 12,
      "13": vars.$yma-bottom-left-top-right * 13,
      "14": vars.$yma-bottom-left-top-right * 14,
      "15": vars.$yma-bottom-left-top-right * 15,
      "16": vars.$yma-bottom-left-top-right * 16,
      "full": 100%,
      "half": 50%,
    ),
  ),

  "right": (
    "prefix": "r",
    "properties": (
      "right",
    ),
    "values": (
      "0": vars.$yma-bottom-left-top-right * 0,
      "1": vars.$yma-bottom-left-top-right,
      "2": vars.$yma-bottom-left-top-right * 2,
      "3": vars.$yma-bottom-left-top-right * 3,
      "4": vars.$yma-bottom-left-top-right * 4,
      "5": vars.$yma-bottom-left-top-right * 5,
      "6": vars.$yma-bottom-left-top-right * 6,
      "7": vars.$yma-bottom-left-top-right * 7,
      "8": vars.$yma-bottom-left-top-right * 8,
      "9": vars.$yma-bottom-left-top-right * 9,
      "10": vars.$yma-bottom-left-top-right * 10,
      "11": vars.$yma-bottom-left-top-right * 11,
      "12": vars.$yma-bottom-left-top-right * 12,
      "13": vars.$yma-bottom-left-top-right * 13,
      "14": vars.$yma-bottom-left-top-right * 14,
      "15": vars.$yma-bottom-left-top-right * 15,
      "16": vars.$yma-bottom-left-top-right * 16,
      "full": 100%,
      "half": 50%,
    ),
  ),

  "top": (
    "prefix": "t",
    "properties": (
      "top",
    ),
    "values": (
      "0": vars.$yma-bottom-left-top-right * 0,
      "1": vars.$yma-bottom-left-top-right,
      "2": vars.$yma-bottom-left-top-right * 2,
      "3": vars.$yma-bottom-left-top-right * 3,
      "4": vars.$yma-bottom-left-top-right * 4,
      "5": vars.$yma-bottom-left-top-right * 5,
      "6": vars.$yma-bottom-left-top-right * 6,
      "7": vars.$yma-bottom-left-top-right * 7,
      "8": vars.$yma-bottom-left-top-right * 8,
      "9": vars.$yma-bottom-left-top-right * 9,
      "10": vars.$yma-bottom-left-top-right * 10,
      "11": vars.$yma-bottom-left-top-right * 11,
      "12": vars.$yma-bottom-left-top-right * 12,
      "13": vars.$yma-bottom-left-top-right * 13,
      "14": vars.$yma-bottom-left-top-right * 14,
      "15": vars.$yma-bottom-left-top-right * 15,
      "16": vars.$yma-bottom-left-top-right * 16,
      "full": 100%,
      "half": 50%,
    ),
  ),

  "display": (
    "prefix": "d",
    "properties": (
      "display",
    ),
    "values": (
      "b": block,
      "f": flex,
      "fr": flow-root,
      "g": grid,
      "i": inline,
      "ib": inline-block,
      "if": inline-flex,
      "ig": inline-grid,
      "it": inline-table,
      "none": none,
      "t": table,
      "tc": table-cell,
      "tco": table-column,
      "tr": table-row,
    ),
  ),

  "float": (
    "prefix": "fl",
    "properties": (
      "float",
    ),
    "values": (
      "ie": inline-end,
      "is": inline-start,
      "l": left,
      "none": none,
      "r": right,
    ),
  ),

  "object-fit": (
    "prefix": "of",
    "properties": (
      "object-fit",
    ),
    "values": (
      "c": cover,
      "f": fill,
      "none": none,
      "sd": scale-down,
    ),
  ),

  "object-position": (
    "prefix": "op",
    "properties": (
      "object-position",
    ),
    "values": (
      "b": bottom,
      "c": center,
      "l": left,
      "lb": left bottom,
      "lt": left top,
      "r": right,
      "rb": right bottom,
      "rt": right top,
      "t": top,
    ),
  ),

  "overflow": (
    "prefix": "o",
    "properties": (
      "overflow",
    ),
    "values": (
      "auto": auto,
      "c": clip,
      "h": hidden,
      "s": scroll,
      "v": visible,
    ),
  ),

  "overflow-x": (
    "prefix": "o-x",
    "properties": (
      "overflow-x",
    ),
    "values": (
      "auto": auto,
      "c": clip,
      "h": hidden,
      "s": scroll,
      "v": visible,
    ),
  ),

  "overflow-y": (
    "prefix": "o-y",
    "properties": (
      "overflow-y",
    ),
    "values": (
      "auto": auto,
      "c": clip,
      "h": hidden,
      "s": scroll,
      "v": visible,
    ),
  ),

  "position": (
    "prefix": "p",
    "properties": (
      "position",
    ),
    "values": (
      "a": absolute,
      "f": fixed,
      "r": relative,
      "s": static,
      "st": sticky,
    ),
  ),

  "visibility": (
    "prefix": "v",
    "properties": (
      "visibility",
    ),
    "values": (
      "c": collapse,
      "h": hidden,
      "v": visible,
    ),
  ),

  "z-index": (
    "prefix": "zi",
    "properties": (
      "z-index",
    ),
    "values": (
      "0": 0,
      "10": 10,
      "20": 20,
      "30": 30,
      "40": 40,
      "50": 50,
      "60": 60,
      "70": 70,
      "80": 80,
      "90": 90,
      "auto": auto,
    ),
  ),
);

@each $name, $map in $yma-positioning-utils {
  $prefix: map.get($map, "prefix");
  $properties: map.get($map, "properties");

  @include mix.create-utilities($map, $prefix, $properties);
}
