@use "sass:math";
@use "sass:map";
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins/" as mix;

$yma-table-utils: (
  "caption-side": (
    "prefix": "cs",
    "properties": (
      "caption-side",
    ),
    "values": (
      "b": bottom,
      "t": top,
    ),
  ),

  "table-layout": (
    "prefix": "tl",
    "properties": (
      "table-layout",
    ),
    "values": (
      "auto": auto,
      "f": fixed,
    ),
  ),
);

@each $properties, $map in $yma-table-utils {
  $prefix: map.get($map, "prefix");
  $properties: map.get($map, "properties");

  @include mix.create-utilities($map, $prefix, $properties);
}
